* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-color: #222;
}
@font-face {
  font-family: "Akkurat";
  src: url("../assets/fonts/AkkuratMono-Regular.ttf");
}
.phone {
  border-radius: 50px;
  border: 8px solid black;
  background: white;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: fixed;
  color: #fff;
  width: 340px;
  height: 680px;
  font-family: "Akkurat";
}
.screen {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: url("../assets/image/back.png") top/cover no-repeat;
}
.notch {
  position: absolute;
  top: 10px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 135px;
  height: 30px;
  background: black;
  border-radius: 15px;
}
.swipe {
  width: 120px;
  height: 6px;
  background: #89898981;
  position: absolute;
  bottom: 7px;
  border-radius: 5px;
  right: 50%;
  transform: translateX(50%);
}
.start-card {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  position: relative;
}
.glow {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo > img {
  width: 50%;
}
.button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.button > button {
  width: 50%;
  height: 40px;
  border-radius: 0;
  border: 2px solid;
  border-image: linear-gradient(150deg, #ff0048, #9500ff) 1;
  text-transform: uppercase;
  background: rgb(232, 106, 217);
  color: white;
  transition: transform 1s ease;
  &:focus {
    outline: none;
  }
  &:active {
    transform: translateY(3px);
  }
}
.hed-text {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hed-text > p {
  width: 70%;
  font-size: 20px;
  text-align: center;
}
.img-tablo {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.img-tablo > img {
  width: 88%;
}

.game {
  width: 100%;
  height: 670px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 40px;

}
.logos-container {
  width: 100%;
  position: relative;
  display: flex;
  height: 150px;
  justify-content: center;
}
.sasha,
.yasmina,
.cloe {
  width: 60%;
  height: 100%;
  opacity: 0;
  position: absolute;
}
.active {
  opacity: 1;
}

.tera {
  width: 100%;
  line-height: 1.3;
  font-size: 19px;
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  align-items: center;
}

.container-block {
  width: 100%;
  background: #222;
  display: flex;
  height: 50%;
  margin-top: 15px;
  border-top: 2px solid white;
  flex-direction: column;
}
.head,
.body,
.foot {
  width: 100%;
  height: 33.3333333333333%;
  display: flex;
  background: #ff0048;
  border-bottom: 2px solid white;
  overflow-x: auto;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  touch-action: pan-x;
  scrollbar-width: none;
}
.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.buttons > button,
a {
  width: 50%;
  height: 40px;
  border-radius: 0;
  border: 2px solid;
  border-image: linear-gradient(150deg, #ff0048, #9500ff) 1;
  text-transform: uppercase;
  background: rgb(232, 106, 217);
  color: white;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease;
  &:focus {
    outline: none;
  }
  &:active {
    transform: translateY(3px);
  }
}
.end-card {
  width: 100%;
  padding-top: 50px;
}
.hed-text1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.te {
  font-size: 24px;
}
.e {
  font-size: 16px;
}

.video {
  width: 100%;
  height: 100%;
}
.video > video {
  width: 100%;
  height: 100%;
}
.hidden {
  display: none;
}
