@media (max-width: 400px) {
  .phone {
    border: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
  .screen {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .swipe {
    display: none;
  }
  .notch {
    display: none;
  }
  .game{
    width: 100%;
  }
}
